<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weixin.xigua.dao.WpwxArticleAssociationMapper">
  <resultMap id="AssociateResultMap" type="weixin.xigua.model.WpwxArticleAssociation" extends="weixin.xigua.dao.WpwxArticleMapper.BaseResultMap">
    <association property="wpwxUserArticle" resultMap="weixin.xigua.dao.WpwxUserArticleMapper.BaseResultMap"></association>
    <association property="wpwxPublic" resultMap="weixin.xigua.dao.WpwxPublicMapper.BaseResultMap"></association>
  </resultMap>

  <sql id="Association_Column_List">
    <include refid="weixin.xigua.dao.WpwxArticleMapper.Base_Column_List"></include>,
    <!--<include refid="weixin.xigua.dao.WpwxPublicMapper.Base_Column_List"></include>,-->
    <include refid="weixin.xigua.dao.WpwxUserArticleMapper.Base_Column_List"></include>
  </sql>

  <sql id="Association_Example_Where_Clause">
    <where >
      <if test="oredCriteria != null">
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <include refid="weixin.xigua.dao.WpwxPublicArticleAssociationMapper.Association_Example_Where_Clause_FRAG"></include>
        </foreach>
      </if>
      <if test="wpwxUserArticleExample != null and wpwxUserArticleExample.oredCriteria != null">
        and
        <foreach collection="wpwxUserArticleExample.oredCriteria" item="criteria" separator="or" >
          <include refid="weixin.xigua.dao.WpwxPublicArticleAssociationMapper.Association_Example_Where_Clause_FRAG"></include>
        </foreach>
        <if test="wpwxUserArticleExample != null and wpwxUserArticleExample.orderByClause != null">
          order by ${wpwxUserArticleExample.orderByClause}
        </if>
      </if>
    </where>

  </sql>

  <sql id="tableJoins">
     wpwx_article WPWX_ARTICLE left join wpwx_user_article WPWX_USER_ARTICLE
     on WPWX_ARTICLE.id = WPWX_USER_ARTICLE.article_id
--      left join wpwx_public WPWX_PUBLIC on WPWX_ARTICLE.weixin_public_id = WPWX_PUBLIC.id
  </sql>

  <select id="selectMaterialGlobals"
          parameterType="weixin.xigua.model.WpwxArticleAssociationExample" resultMap="AssociateResultMap">
    <!--
       WARNING - @mbggenerated
       This element is automatically generated by MyBatis Generator, do not modify.
     -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Association_Column_List" />
    from
    wpwx_article WPWX_ARTICLE left join
    (
      select * from wpwx_user_article WPWX_USER_ARTICLE
      <where >
        <if test="wpwxUserArticleExample != null and wpwxUserArticleExample.oredCriteria != null">
        <foreach collection="wpwxUserArticleExample.oredCriteria" item="criteria" separator="or" >
          <include refid="weixin.xigua.dao.WpwxPublicArticleAssociationMapper.Association_Example_Where_Clause_FRAG"></include>
        </foreach>
        <if test="wpwxUserArticleExample != null and wpwxUserArticleExample.orderByClause != null">
          order by ${wpwxUserArticleExample.orderByClause}
        </if>
      </if>
      </where>
    ) WPWX_USER_ARTICLE
    on WPWX_ARTICLE.id = WPWX_USER_ARTICLE.article_id
    <if test="_parameter != null">
      <where >
      <if test="oredCriteria != null">
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <include refid="weixin.xigua.dao.WpwxPublicArticleAssociationMapper.Association_Example_Where_Clause_FRAG"></include>
        </foreach>
      </if>
      </where>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectMyMaterials"
          parameterType="weixin.xigua.model.WpwxArticleAssociationExample" resultMap="AssociateResultMap">
    <!--
       WARNING - @mbggenerated
       This element is automatically generated by MyBatis Generator, do not modify.
     -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Association_Column_List" />
    from
    wpwx_article WPWX_ARTICLE join wpwx_user_article WPWX_USER_ARTICLE
    on WPWX_ARTICLE.id = WPWX_USER_ARTICLE.article_id
    <if test="_parameter != null">
      <include refid="Association_Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

</mapper>